<!-- extend from base layout -->
{% extends "base.html" %}


{% block page_content %}

<div id="wrap">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <div style="width:65%; margin: 0 auto;">
<script async class="speakerdeck-embed" data-id="ac941880dd240131b4bc7abe6293b58c" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js"></script>
                    </div>
                <div class="col-lg-1">
                </div>
    </div>
{% endblock %}

{%block scripts %}
{{ super() }}


{% endblock %}
