{% extends "base.html" %}

{% block page_content %}
<div class="row">

  <div class="col-md-5">
    <div id="octo-speak">
      {% if data %}
      Based on your preferences for <i>{{langs|join(', ')}}</i>
      here are some of the top Github contributors that may interest you...
      {% else %}
      Please broaden your search to find more results!
      {% endif %}
    </div>
  </div>

  <div class="col-md-7">
    <scorePanel>
      <div class="panel-group" id="accordion">
        {% for k, d in data.iteritems() %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" style="font-weight: bold">{{k}}
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapse_{{loop.index}}">
                <i class="indicator fa fa-chevron-{% if loop.index == 1 %}up {%
                else%}down{%endif%} pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapse_{{loop.index}}" class="panel-collapse collapse {% if loop.index ==
            1 %} in {% endif %}">
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-7" style="background: white;">
                  <span id="user-body">
                    <h4>Name: {{d.name}} </h4>
                    <div class="email"><span>Email: </span><span
                        style="color:black">{% if d.email == ''%} <i>not
                        available</i> {%else %}{{d.email | e}}{% endif %}</span></div>
                  <div class="location"> <span>Location:</span><span style="color:black"> {% if d.location == ''%}
                      <i>not available</i>{%else%}{{d.location |e}}{% endif
                      %}</span></div>
                  <div class="language"><span>Primarily writes in: </span><span
                      style="color:rgba(17,111,201,1)">{{d.pref_langs |
                    join(", ")}}</span></div>
                <div class="pop-repo"><span>Most popular repo: </span><span style="color:black">
                      <i>{{d.pop_repo.name}}</i>
                      in {{d.pop_repo.language}}</span></div>
                      <h6>Active Since: {{d.start_date}}</h6>
                  </span>
                </div>

                <div class="col-sm-3 pull-right">
                  <div class="col-sm-12">
                    <img class="img-rounded bg-info" id="user-profile" style=""
                    src="{{d.avatar_url}}">
                  </div>
                  <div class="col-sm-12" style="background: white;">
                    <div class="text-center">
                      <div id="connect-btn">
                        <i class="fa fa-github"></i>&nbsp;<a
                          href="http://github.com/{{k}}" target="_blank" style="text-decoration: none;
                          color: #428bca;">More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
      <div id="fuzzy-footer" class="col-md-7"></div>

    <scorePanel>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('fa-chevron-down fa-chevron-up');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);


$(function() {


    });


</script>
{% endblock %}
